section{
    max-width: 70%;
    margin: 1rem auto 0 auto;
}
section form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}
section form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #eff1f1;
    height: 6rem;
    border-radius: .5rem;
    margin-bottom: .6rem;
    padding: 0.7rem 1rem 0 1rem;
    resize: none;
}
section form button{
    border-radius: .6rem;
    padding: .25rem 1.2rem;
    border: none;
    color: #fff;
    background-color: #3cd0ff;
    font-size: 1rem;
    cursor: pointer;
}
section form button:hover{
    background-color: #0ac4fd;
}
section .blog-list .blog-element{
    margin-bottom: 1.9rem;
    color: #595d5e;
}
section .blog-list .blog-element .title{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
section .blog-list .blog-element .title h4{
    font-weight: 800;
}
section .blog-list .blog-element .title .date{
    display: flex;
    align-items: center;
    margin-left: 0.4rem;
}
section .blog-list .blog-element .title .date .circle-dot{
    margin-right: 0.4rem;
    background-color: #595d5e;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
}
section .blog-list .blog-element .title .date {
    color: #8a8f91;
}
section .blog-list .blog-element .paragraph{
    font-weight: 100;
    font-size: .9rem;
}
